.steps-img {
  max-width: 100vw;
  max-height: 10em;
}

.steps-card {
  max-width: 30vw;
  flex-grow: 1;
  overflow: hidden;
  background-color: #300058 !important;
  color: #fff !important;
  overflow: hidden;
}

.party-img {
  max-width: 100vw;
  max-height: 10em;
}

.party-content {
  overflow: auto;
  height: 250px;
}
.link-name {
  color: yellow;
}
