.steps-img {
  height: 200px;
  object-fit: cover;
}

.banner-img {
  margin-left: 10vw;
  max-width: 25em;
  object-fit: cover !important;
}

.text-booking {
  margin-left: 10vw;
}

.steps-card {
  max-width: 25em;
  background-color: #300058 !important;
  color: #fff !important;
  margin-bottom: 15px;
}

.steps-body {
  height: 30em;
}

.steps-content {
  height: 20em;
  overflow: auto;
}

.party-img {
  max-width: 100%;
  max-height: 10em;
}

.party-content {
  overflow: auto;
  height: 250px;
}
.link-name {
  color: yellow;
}

.home-banner {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(129, 67, 92, 1) 33%,
    rgba(108, 79, 189, 1) 52%,
    rgba(252, 176, 69, 1) 100%
  );
  align-items: center;
}

@media (max-width: 767px) {
  .text-booking {
    font-size: xx-large !important;
    margin-left: 0;
  }
  .banner-img {
    margin-left: 0;
  }
}
